.firstPart {
    font-size: x-large;
    text-align: center;
    color: black;
}
.allInfo{
    margin: 30px;
}

.secondPart {
    font-size: x-large;
    text-align: center;
    color: red;
}
.margin-top{
    margin-top:12em;
}